/* styles.css */
/* Hero Section */
.hero-section {
    background-image: url('/styles/images/Deepika-Padukone1.jpg'); /* Replace with actual image URL */
    background-size: cover;
    background-position: center;
    height: 500px;
  }
  
  .custom-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Adds subtle depth */
    letter-spacing: 0.05em; /* Slight letter spacing */
    font-family: 'Playfair Display', serif; /* Elegant serif font */
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.3); /* Dark overlay for text contrast */
  }
  .italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .amethysta-regular {
    font-family: "Amethysta", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  /* Card Styles */
  .brand-card img,
  .product-card img {
    transition: transform 0.3s ease;
  }
  
  .brand-card:hover img,
  .product-card:hover img {
    transform: scale(1.05);
  }
  
  /* Footer Styles */
  footer p {
    line-height: 1.6;
  }
  
  footer .flex span {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  footer .flex span:hover {
    border-color: #ffcccb; /* Highlight color on hover */
  }
  
  .jim-nightshade-regular {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  .kurale-regular {
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    color: #483A37;
  }
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
/* styles/imagePreview.css */
#imagePreview img {
  max-width: 300px; /* Limit the width */
  max-height: 300px; /* Limit the height */
  object-fit: contain; /* Ensure the whole image is visible */
  border-radius: 8px; /* Rounded corners for better appearance */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better contrast */
}


.image-upload-preview {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-preview-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
}

#cropper-image {
  max-width: 100%;
  max-height: 70vh;
}

#cropper-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.product-image-box {
  position: relative;
  display: inline-block;
}

.preview-img {
  width: 50%;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}