

<div class="bg-gray-100">
  <!-- Navbar -->
  <%- include('header') %>
  <%- include('alert') %>
<!-- Categories Section -->
<section class="bg-white py-10">
    <div class="container mx-auto px-6">
        <h2 class="kurale-regular text-2xl text-center mb-6">Categories</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <% category.forEach((category) => { %>
                <div class="bg-white shadow-md rounded-lg overflow-hidden mb-4">
                    <img src="/styles/images/category_image.jpg" alt="Serums" class="w-full h-48 object-cover">
                    <div class="p-4">
                        <h3 class="kurale-regular text-2xl text-center">
                            <%= category.categoryName %>
                        </h3>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>

<!-- Show All Products Button -->
 <a href="/allproduct">
    <button 
        class="absolute bottom-1 right-10 bg-orange-500 text-white font-semibold py-2 px-4 rounded-lg shadow-lg hover:bg-orange-700 transition-colors">
        Show All Products
    </button>
 </a>


<!-- Footer -->
<%- include('footer') %>
</div>

